/*M!999999\- enable the sandbox mode */ 
-- MariaDB dump 10.19-11.6.2-MariaDB, for Win64 (AMD64)
--
-- Host: localhost    Database: erp
-- ------------------------------------------------------
-- Server version	11.6.2-MariaDB

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*M!100616 SET @OLD_NOTE_VERBOSITY=@@NOTE_VERBOSITY, NOTE_VERBOSITY=0 */;

--
-- Dumping data for table `_prisma_migrations`
--

LOCK TABLES `_prisma_migrations` WRITE;
/*!40000 ALTER TABLE `_prisma_migrations` DISABLE KEYS */;
INSERT INTO `_prisma_migrations` VALUES
('49d9c8bf-86b6-4715-8452-bb94efb54659','4e2a99b7ba8a533e0ed19a2efe99e1d5e56ff8e3fb3b079ba2b8b495d9fda490','2025-01-29 18:54:32.300','20250127160632_init',NULL,NULL,'2025-01-29 18:54:31.390',1);
/*!40000 ALTER TABLE `_prisma_migrations` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `accounting_contact`
--

LOCK TABLES `accounting_contact` WRITE;
/*!40000 ALTER TABLE `accounting_contact` DISABLE KEYS */;
/*!40000 ALTER TABLE `accounting_contact` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `accounting_contact_image`
--

LOCK TABLES `accounting_contact_image` WRITE;
/*!40000 ALTER TABLE `accounting_contact_image` DISABLE KEYS */;
/*!40000 ALTER TABLE `accounting_contact_image` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `address`
--

LOCK TABLES `address` WRITE;
/*!40000 ALTER TABLE `address` DISABLE KEYS */;
/*!40000 ALTER TABLE `address` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `adm`
--

LOCK TABLES `adm` WRITE;
/*!40000 ALTER TABLE `adm` DISABLE KEYS */;
/*!40000 ALTER TABLE `adm` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `client`
--

LOCK TABLES `client` WRITE;
/*!40000 ALTER TABLE `client` DISABLE KEYS */;
/*!40000 ALTER TABLE `client` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `commercial_contact`
--

LOCK TABLES `commercial_contact` WRITE;
/*!40000 ALTER TABLE `commercial_contact` DISABLE KEYS */;
/*!40000 ALTER TABLE `commercial_contact` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `commercial_image`
--

LOCK TABLES `commercial_image` WRITE;
/*!40000 ALTER TABLE `commercial_image` DISABLE KEYS */;
/*!40000 ALTER TABLE `commercial_image` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `company_address`
--

LOCK TABLES `company_address` WRITE;
/*!40000 ALTER TABLE `company_address` DISABLE KEYS */;
/*!40000 ALTER TABLE `company_address` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `delivery_address`
--

LOCK TABLES `delivery_address` WRITE;
/*!40000 ALTER TABLE `delivery_address` DISABLE KEYS */;
/*!40000 ALTER TABLE `delivery_address` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `emails`
--

LOCK TABLES `emails` WRITE;
/*!40000 ALTER TABLE `emails` DISABLE KEYS */;
/*!40000 ALTER TABLE `emails` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `financial_contact`
--

LOCK TABLES `financial_contact` WRITE;
/*!40000 ALTER TABLE `financial_contact` DISABLE KEYS */;
/*!40000 ALTER TABLE `financial_contact` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `financial_image`
--

LOCK TABLES `financial_image` WRITE;
/*!40000 ALTER TABLE `financial_image` DISABLE KEYS */;
/*!40000 ALTER TABLE `financial_image` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `image_company`
--

LOCK TABLES `image_company` WRITE;
/*!40000 ALTER TABLE `image_company` DISABLE KEYS */;
/*!40000 ALTER TABLE `image_company` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `imagem`
--

LOCK TABLES `imagem` WRITE;
/*!40000 ALTER TABLE `imagem` DISABLE KEYS */;
/*!40000 ALTER TABLE `imagem` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `owner_partner`
--

LOCK TABLES `owner_partner` WRITE;
/*!40000 ALTER TABLE `owner_partner` DISABLE KEYS */;
/*!40000 ALTER TABLE `owner_partner` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `owner_partner_image`
--

LOCK TABLES `owner_partner_image` WRITE;
/*!40000 ALTER TABLE `owner_partner_image` DISABLE KEYS */;
/*!40000 ALTER TABLE `owner_partner_image` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `role`
--

LOCK TABLES `role` WRITE;
/*!40000 ALTER TABLE `role` DISABLE KEYS */;
/*!40000 ALTER TABLE `role` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `roleadm`
--

LOCK TABLES `roleadm` WRITE;
/*!40000 ALTER TABLE `roleadm` DISABLE KEYS */;
/*!40000 ALTER TABLE `roleadm` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `sector`
--

LOCK TABLES `sector` WRITE;
/*!40000 ALTER TABLE `sector` DISABLE KEYS */;
/*!40000 ALTER TABLE `sector` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `supplier_pf`
--

LOCK TABLES `supplier_pf` WRITE;
/*!40000 ALTER TABLE `supplier_pf` DISABLE KEYS */;
/*!40000 ALTER TABLE `supplier_pf` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `supplier_pf_address`
--

LOCK TABLES `supplier_pf_address` WRITE;
/*!40000 ALTER TABLE `supplier_pf_address` DISABLE KEYS */;
/*!40000 ALTER TABLE `supplier_pf_address` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `supplier_pf_image`
--

LOCK TABLES `supplier_pf_image` WRITE;
/*!40000 ALTER TABLE `supplier_pf_image` DISABLE KEYS */;
/*!40000 ALTER TABLE `supplier_pf_image` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `supplier_pj`
--

LOCK TABLES `supplier_pj` WRITE;
/*!40000 ALTER TABLE `supplier_pj` DISABLE KEYS */;
/*!40000 ALTER TABLE `supplier_pj` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `supplier_pj_address`
--

LOCK TABLES `supplier_pj_address` WRITE;
/*!40000 ALTER TABLE `supplier_pj_address` DISABLE KEYS */;
/*!40000 ALTER TABLE `supplier_pj_address` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `tempory_token`
--

LOCK TABLES `tempory_token` WRITE;
/*!40000 ALTER TABLE `tempory_token` DISABLE KEYS */;
/*!40000 ALTER TABLE `tempory_token` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*M!100616 SET NOTE_VERBOSITY=@OLD_NOTE_VERBOSITY */;

-- Dump completed on 2025-01-29 15:56:59
